{% extends "base.html" %} {% block content %}

<!-- {% for task in tasks %}
        {{ task.ticker }}
        {{ task.date }}
        {{ task.open }}
        {{ task.high }}
        {{ task.low }}
        {{ task.close }}
        {{ task.volume }}
    {% endfor %} -->
<!-----------------------------container for stock data-->
{% for ohlc in stock_data %}
<div class="d-flex justify-content-center">
  <div class="col-xl-3 col-md-6 mb-4 card-column">
    <div class="card border-left-primary shadow h-100 py-2">
      <div
        class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
      >
<!-------------------------stock ticker information-->
        <h3>{{ ohlc.ticker }}</h3>
      </div>
    </div>
  </div>
</div>
<!-------------------------date information-->
<div class="d-flex justify-content-center">
  <div class="col-xl-3 col-md-6 mb-4 card-column">
    <div class="card border-left-primary shadow h-100 py-2">
      <div
        class="text-xs d-flex justify-content-center font-weight-bold text-primary mb-1"
      >
        Date:
      </div>
      <div
        class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
      >
        {{ ohlc.date }}
      </div>
    </div>
  </div>
</div>
<!-------------------------opening price information-->
<div class="card-group">
  <div class="col-xl-3 col-md-6 mb-4 card-column">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs d-flex justify-content-center font-weight-bold text-primary text-uppercase mb-1"
            >
              Open:
            </div>
            <div
              class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
            >
              {{ ohlc.open }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------stock high information-->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs d-flex justify-content-center font-weight-bold text-primary text-uppercase mb-1"
            >
              High:
            </div>
            <div
              class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
            >
              {{ ohlc.high }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------stock low information-->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs d-flex justify-content-center font-weight-bold text-primary text-uppercase mb-1"
            >
              Low:
            </div>
            <div
              class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
            >
              {{ ohlc.low }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------stock close information-->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs d-flex justify-content-center font-weight-bold text-primary text-uppercase mb-1"
            >
              Close:
            </div>
            <div
              class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
            >
              {{ ohlc.close }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------stock volume information-->
  <div class="col-xl-3 col-md-6 mb-4 mx-auto">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs d-flex justify-content-center font-weight-bold text-primary text-uppercase mb-1"
            >
              Volume:
            </div>
            <div
              class="h5 mb-0 d-flex justify-content-center font-weight-bold text-gray-800"
            >
              {{ ohlc.volume }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
